<?xml version="1.0"?>
<?xml-model href="http://download.ros.org/schema/package_format3.xsd" schematypens="http://www.w3.org/2001/XMLSchema"?>
<!--
  Copyright 2022 Suresh G

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<robot name="hummingbird" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--
    Properties for the Asctec Hummingbird
    reference Novel Dynamic Inversion Architectur Design for Quadrocopter Control by Wang et al.
  -->
  <xacro:property name="mav_namespace" value="$(arg namespace)" />
  <xacro:property name="mav_mesh_file" value="file://$(find mav_description)/meshes/hummingbird.dae" />
  <xacro:property name="body_mass" value="0.68" /> <!-- [kg] -->
  <xacro:property name="body_length" value="0.1" /> <!-- [m] -->
  <xacro:property name="body_width" value="0.1" /> <!-- [m] -->
  <xacro:property name="body_height" value="0.12" /> <!-- [m] -->
  <xacro:property name="rotor_mass" value="0.009" /> <!-- [kg] -->
  <xacro:property name="rotor_radius" value="0.1" /> <!-- [m] -->
  <xacro:property name="arm_length" value="0.17" /> <!-- [m] -->
  <xacro:property name="rotor_z_offset" value="0.01" /> <!-- [m]-->

  <!--
    Include the multirotor base xacro
  -->
  <xacro:include filename="$(find mav_description)/urdf/multirotor_base.urdf.xacro" />

  <!--
    Property for the body's inertia
  -->
  <xacro:property name="body_inertia">
    <inertia ixx="0.007" ixy="0.0" ixz="0.0"
             iyy="0.007" iyz="0.0"
             izz="0.012" /> <!-- [kg m^2] ... -->
  </xacro:property>

  <!--
    Property for the single rotor's inertia, assuming a cuboid shape
  -->
  <xacro:property name="rotor_inertia">
    <xacro:box_inertia x="${rotor_radius}" y="0.015" z="0.003"
      mass="${rotor_mass}" />
  </xacro:property>

  <!--
    Instantiate the multirotor_base macro
  -->
  <xacro:multirotor_base robot_namespace="${mav_namespace}" mass="${body_mass}"
    length="${body_length}" width="${body_width}" height="${body_height}"
    mesh_file="${mav_mesh_file}">
    <xacro:insert_block name="body_inertia" />
  </xacro:multirotor_base>

  <!--
    Instantiate the front vertical_rotor macro
  -->
  <xacro:vertical_rotor robot_namespace="${mav_namespace}" suffix="front"
    direction="cw" parent="${mav_namespace}/base_link" mass="${rotor_mass}"
    radius="${rotor_radius}" id="0" color="Red">
    <origin xyz="${arm_length} 0 ${rotor_z_offset}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:vertical_rotor>

  <!--
    Instantiate the left vertical_rotor macro
  -->
  <xacro:vertical_rotor robot_namespace="${mav_namespace}" suffix="left"
    direction="ccw" parent="${mav_namespace}/base_link" mass="${rotor_mass}"
    radius="${rotor_radius}" id="1" color="Blue">
    <origin xyz="0 ${arm_length} ${rotor_z_offset}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:vertical_rotor>

  <!--
    Instantiate the back vertical_rotor macro
  -->
  <xacro:vertical_rotor robot_namespace="${mav_namespace}" suffix="back"
    direction="cw" parent="${mav_namespace}/base_link" mass="${rotor_mass}"
    radius="${rotor_radius}" id="2" color="Blue">
    <origin xyz="-${arm_length} 0 ${rotor_z_offset}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:vertical_rotor>

  <!--
    Instantiate the right vertical_rotor macro
  -->
  <xacro:vertical_rotor robot_namespace="${mav_namespace}" suffix="right"
    direction="ccw" parent="${mav_namespace}/base_link" mass="${rotor_mass}"
    radius="${rotor_radius}" id="3" color="Blue">
    <origin xyz="0 -${arm_length} ${rotor_z_offset}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:vertical_rotor>
</robot>
